:root {
    /*Font text*/
    --main-font:"roboto",sans-serif;
    /*Color text*/
    --main-color-text: #212121;
    --accent-color-text: #2196F3;
    --second-color-text: #757575;
    --three-color-text: #FFFFFF;
    --for-color-text: #000000;
    /*Bg color*/
    --first-bg: #2F303A;
    --second-bg:#F5F4FA;
    --three-bg: #F5F5F5;
    --for-bg: #EEEEEE;
    --five-bg: #ECECEC;
}


 body {
    font-family: var(--main-font);
    color: var(--main-color-text);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}
/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

  .link {
    text-decoration: none;
  }
  .button {
    font-family: inherit;
    color: var(--three-color-text);
    background-color: var(--accent-color-text);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 0;
    letter-spacing: 0.06em;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 32px;
}
  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

/*Header*/
.main-nav {
    display: flex;
    align-items: center;
}
.link {
    padding-top: 32px;
    padding-bottom: 32px;
}
.logo link {
    margin-right: 93px;
}
.navigator {
    margin-right: auto;
}

.first-link {
    margin-right: 50px;
    display: block;
}


.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    margin-right: 93px;
}

.logo-first {
    color: var(--accent-color-text);
}
.logo-second {
color: var(--three-color-text)
}

.navlist {
    font-weight: 500;
    color: var(--main-color-text);
    padding-top: 32px;
    padding-bottom: 32px;
    display: block;

}
.navlist:hover,
.navlist:focus {
    color: var(--accent-color-text);
}
.current {
    color: var(--accent-color-text)
}
.hdcontact {
    font-weight: 500;
    color: var(--second-color-text);
    margin-right: 50px;
}
.hdcontact:last-child {
    margin-right: 0;
}
.hdcontact:hover,
.hdcontact:focus {
    color: var(--accent-color-text);
}
.navigator-list {
    display: flex;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.navigator-list>li {
    margin-right: 50px;
}
.navigator-list>li:last-child {
    margin-right: 0;
}
.main-nav {
    align-items: center;
    display: flex;
}
    
/*Hero*/
.hero,
.footer {
    background-color: var(--first-bg);
}
.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}
.hero-block>.button {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.hero-block {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--three-color-text);
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}
.contact-header {
    margin-left: auto;
    display: flex;
}

/*Work*/


.work-container {
    display: flex;
    gap: 30px;
}
.wtitle {
    padding-top: 94px;
    padding-bottom: 10px;
}
.subtitle {
padding-bottom: 118px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.wtitle {
    font-size: 14px;
    line-height: 1.14;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subtitle {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
}
/*what we are doing*/

.section-title {
    padding-bottom: 50px;
    padding-left: auto;
    padding-right: auto;
}
.doingv-list {
    display: flex;
    gap: 30px;
    list-style-type: none;
    padding-bottom: 188px;
}
/*Team*/
.team {
background-color: var(--second-bg);
}
.section-title {
    padding-bottom: 50px;
}
.list-team {
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.img-team {
margin-bottom: 30px;
}
.team-title {
margin-bottom: 10px;
}
.team-text {
    margin-bottom: 30px;
}
.team-card {
    background-color: var(--three-color-text);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    width: 270px;
    height: 368px;
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
.team-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}
/*Footer*****************/
.footer {
    padding-top:60px ;
    padding-bottom: 60px;
}
.footer-logo {
    color: var(--three-color-text);
}
.dot-list-footer  {
    display: block;
}
.logo link second {
    margin-left: 215px;
}
.footer-address {
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--three-color-text);
font-style: normal;
}
.footer-address:hover,
.footer-address:focus {
color: var(--accent-color-text);
}
.footer-address-two {
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
}
.footer-address-two:hover,
.footer-address-two:focus {
color: var(--accent-color-text);
}

 /*Portfolio*/

 .main-nav {
    border-bottom: 1px solid var(--first-bord);
 }
 
.main {
    padding-top: 94px;
    padding-bottom: 94px;
}
 .filter-button {
    background: var(--second-bg);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-color-text);
    font-family: inherit;

    border: 0;
    border-radius: 4px;
    padding: 6px 22px;
  }

.filter-button:hover,
.filter-button:focus {
    background: var(--accent-color-text);
    color: var(--three-color-text);
}

.filter-link {
  margin-right: 8px;
}
.list-item:last-child {
    margin-right: 0;
}
.container-portfolio {
    justify-content:center;
}
.work-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-color-text);
    margin-bottom: 4px;
}
.work-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--second-color-text);
}
.container-portfolio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
}
.portfolio-link {
    margin-right: 30px;
    margin-bottom: 30px;
}
.portfolio-link:nth-child(3n) {
    margin-right: 0;
}
.portfolio-link:nth-last-child(-n+3) {
    margin-bottom: 0;
}
.portfolio-card {
    border: 1px solid var(--first-bord);
    border-top: none;
    padding: 20px 24px;
}
.image-portfolio {
    display: block;
}
.filter-nav {
    display: flex;
    justify-content:center;
    margin-bottom: 50px;
}